body{
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-areas: 'left mid right';
}
#left{
    background-color: #2f2e2e;
    height: 622px;
    width: 230px;
    padding-top: 35px;
    grid-area: left
}
#circ{
    border-radius: 50%;
    border: 5px solid #5c5c5c;
    background-color: white;
    height: 110px;
    width: 110px;
    margin-left: 55px;
}
#me{
    padding-top: 16px;
    padding-left: 5x;
    border-radius: 50%;
    height: 95px;
    width: 110px;
}
#mee{
    
    height: 657px;
    display: inline;
    grid-area: mid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#text{
    grid-area: right;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 25px;
}
#hfive{
    font-style: italic;
}
#para{
    font-family: Comic Sans MS;
}
#hone{
    color: #305b9f;
    font-family: monospace
}
#tagline{
    margin-top: 15px;
    margin-left: 73px;
    color: #a2a2a2;
}
#line{
    width: 111px;
}
#ula{
    padding: 0;
}
#ula li{
    padding: 20px 0 20px;
    list-style-type: none;
    text-align: center;
    width: 230px;
    
}
#ula li a{
    text-decoration: none;
    margin: 0 0 0 0;
    color: azure;
    font-size: 20px
}
#ula li:hover{
    background-color: white;
}

#ula li:hover a{
    color: black
}






